@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to the Blazor WebAssembly app. The homepage and viewing the <a href="/forecast">forecast for today</a> does not require an account, but the <a href="/forecastoverview">Forecast overview page</a> does.